body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
	margin:0px;
	padding:0px;
    font-size:13px;
}
ul {
	list-style:none;
}

a {
    color: black;
	text-decoration:none;
}


header{
    width: 100%;
    height: 9%;
    position: fixed;
    top: 0px;
    z-index: 100;
}
#logo{
    width: 8%;
    height: 100%;
    text-align: center;
    margin-left: 1%;
    float: left;
}
#logo img{
    display: inline-block;
    width: 50%;
    height: 60%;
    transition: transform 0.5s;
}
#logo1{
    color: aliceblue;
    height: 40%;
    
}
#logo1:hover{
    color: black;
    
}
#logo img:hover{
    transform: rotate(180deg);
}
nav ul li a{
    float: right;
    width: 10%;
    line-height: 300%;
    font-size: 1.4vw;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    color: white;
    border-radius: 20px;
    
}
nav ul li a:hover{
    border-bottom: 1px solid white;
    color: black;
}


main{
    height: 3000px;;

    
}
#zy1{
    width: 100%;
    height: 30%;
    background-image: url(../images/hero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:relative;
}
#bt1
{
	width:41%;
	height:8%;
/*    background-color: black;*/
    font-size: 4.0vw;
    margin: 0 auto;
    text-align:center;
    position: absolute;
    color: rgba(255,255,255,0.8);
    left:30%;
    top:15%;
    animation:myfirst 1s;
}

@keyframes myfirst
{
	0%{color: rgba(0,0,0,0); left:30%; top:10%;}
	100%{color: rgba(255,255,255,0.8); left:30%; top:15%;}
}
#bt2
{
	width:26%;
	height:3%;
    left:38%; top:25%;
/*    background-color: red;*/
    font-size: 1.4vw;
    text-align:center;
    position: absolute;
    color: rgba(255,255,255,0.6);
    animation:myfirst2 2.5s;
}
@keyframes myfirst2
{
	0%{color: rgba(0,0,0,0); left:38%; top:35%;
    }
    50%{color: rgba(0,0,0,0); left:38%; top:35%;
    }
	100%{color: rgba(255,255,255,0.6); left:38%; top:25%;}
}

#play-btn{
    width: 8%;
    position: absolute;
    left: 46%; top: 42%;
    transition: 1.5s;
}
#play-btn:hover{
    position: absolute;
    left: 46%; top: 39%;
}
video{
    width: 60%;
    height: 50%;
    display: none;
    position: absolute;
    left: 21%;
    top: 23%;
    z-index: 2;
}

:target{
    display: block;
}
#downcircle{
    width: 5%;
    position: absolute;
    left: 47.6%; bottom: 20%;
    transition: 1s;
}

#downcircle:hover{
    position: absolute;
    left: 47.6%; bottom: 22%;
}

.gd{
    text-align: center;
}
#zy2{
    width: 100%;
    height: 25%;
    background-color: none;
    position: relative;
}

.roate{
    transition-duration: 1s;
    transition-property: transform;
}
.roate:hover{
    transform: rotate(360deg);
}
#where{
    width: 50%;
    height: 15%;
/*    background-color: aliceblue;*/
    font-size: 6vw;
    position: absolute;
    top:43%;
    left: 30%;
    transition: 1s;
}
#where:hover{
    position: absolute;
    top: 37%;
    left: 30%;
}

#earth{
    width: 30%;
    height: 35%;
/*    background-color: antiquewhite;*/
    position: absolute;
    text-align: center;
    left: 6%;
    top: 7%;
}
.where a{
    color: black;
}
.where{
    margin-top: 5%;
    font-size: 2.5vw;
    text-align: center;
    color: black;
    transition: 1.5s;
}
.where a:hover{
    color:deepskyblue;
}
#earth1{
    width: 35%;
    height: 50%;
    background-image: url(../images/earth.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid white;
}
#solar{
    width: 30%;
    height: 35%;
/*    background-color: aqua;*/
    position: absolute;
    right: 6%;
    top: 7%;
}
#solar1{
    width: 35%;
    height: 50%;
    background-image: url(../images/solar.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid white;
}
#galaxy{
    width: 30%;
    height: 33%;
/*    background-color:aquamarine;*/
    position: absolute;
    left: 6%;
    bottom: 7%;
}
#galaxy1{
    width: 33%;
    height: 50%;
    background-image: url(../images/galaxy.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid white;
}
#space{
    width: 30%;
    height: 34%;
/*    background-color: beige;*/
    position: absolute;
    right: 6%;
    bottom: 7%;
}
#space1{
    width: 33%;
    height: 50%;
    background-image: url(../images/space.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid white;
}
#zy3{
    width: 100%;
    height: 20%;
    background-color: black;
    position: relative;
}
#wz{
    width: 32%;
    height: 16%;
    font-size: 6vw;
    margin: 0 auto;
    color: aliceblue;
    position: absolute;
    top: 6%; left: 35%;
    transition: 1s;
}
#wz:hover{
    position: absolute;
    top: 3%; left: 35%;
}
#yz{
    width: 80%;
    height: 74%;
    background-image: url(../images/universial.png);
    margin: 5% auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 12%;top: 15%;
}
#connect{
    width: 100%;
    height: 18%;
    
    background-color: white;
    text-align: center;
    position: relative;
}
#connect h1{
    width: 40%;
    height: 26%;
    font-size: 4vw;
    position: absolute;
    left: 30%; top: 21%;
    border: 3px solid black;
    border-radius: 20%;
}
#connect h1:hover{
    color: aqua;
}
#liuyan{
    width: 30%;
    height: 30%;
    font-size: 9vw;
    background-color: beige;
    position: absolute;
    left: 35%; top: 57%;
    border: 3px solid gray;
    color: white;
}
#liuyan:hover{
    background-color: aquamarine;
    
}
footer{
    height: 100px;
}
#footer-logo{
    text-align: center;
    transition: 3s;
}
#footer-logo:hover{
    transform: rotate(360deg);
}
#xx{
    width: 50%;
    height: 50%;
    font-size: 1.5vw;
    color:gray;
    margin: 0 auto;
    text-align: center;
}